<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="discover.css">
    <title>Travel</title>
</head>
<body>
    <nav>
      <div class="navcontainer">
        <div class="navicon">
          <h2 id="#">Travel</h2>
        </div>

        <div class="navlinks">
          <a href="../index.html">Home</a>
          <a href="about.html">About</a>
          <a href="discover.html" id="active">Discover</a>
          <a href="places.html">Places</a>
        </div>

      </div>
        
    </nav>
    

<!-- discover  -->

<section>
  <div class="discover">
    <h1>Discover The Most <br> Attractive Places</h1>
    <div class="cards">
      <div class="card1 cstyle">
        <p><span>Kalsubai Peak</span> <br>
          32 tours available</p>
      </div>
      <div class="card2 cstyle">
        <p><span>Ajanta Caves</span><br>
          24 tours available</h4>
      </div>
      <div class="card3 cstyle">
        <p><span>Lonawala</span><br>
          15 tours available</h4>
      </div>
    </div>
</div>
</section>



<!-- footer -->

    
<footer>
  <div class="container">
    <div class="frow">
      <div class="fcol1">
        <h2>Travel</h2>
        <div class="subheading sfcol1">
        <p>Travel you choose the <br> destination, we offer you the <br> experience.</p>
        <div class="icons">

            <img src="../img/facebook.png" alt="facebook">
            <img src="../img/instagram.png" alt="insta">
            <img src="../img/twitter.png" alt="twitter">
            <img src="../img/youtube.png" alt="youtube">
          </div>
      </div>
      </div>

      <div class="fcol2">
        <h2>About</h2>
        <div class="subheading">
          <a href="#">About Us</a>
          <a href="#">Features</a>
          <a href="#">New & Blog</a>
        </div>
      </div>

      <div class="fcol3">
        <h2>Company</h2>
        <div class="subheading">
          <a href="#">Team</a>
          <a href="#">Plan & Pricing</a>
          <a href="#">Become amember</a>
        </div>
      </div>

      <div class="fcol4">
        <h2>Support</h2>
        <div class="subheading">
          <a href="#">FAQs</a>
          <a href="#">Support Center</a>
          <a href="#">Contact Us</a>
        </div>
        
      </div>

    </div>
    <div class="last">
      <div class="lastline">
        <!-- <h2>Travel.in</h2> -->
        <br />
        <p>© 2023<a href="#">Travel.in.</a> All Rights
          Reserved.</p>
          <a href="#">Terms & Agreements</a><br />
          <a href="#">Privacy Policy</a> <br />
      </div>
    </div>
  </div>

  </footer>
</body>
</html>
