<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="places.css">
    <title>Travel</title>
</head>
<body>

    <nav>
      <div class="navcontainer">
        
        <div class="navicon">
          <h2>Travel</h2>
        </div>

        <div class="navlinks">
          <a href="../index.html">Home</a>
          <a href="about.html">About</a>
          <a href="discover.html">Discover</a>
          <a href="places.html" id="active">Places</a>
        </div>

      </div>  
    </nav>
   

<!-- places  -->

<section id="places">
  <div class="pcards">
<div class="row1">
    <div class="pcard1 cardstyle">
    <div class="rating">
      <img src="../img/star.png" alt="star">
      <p>4.9</p>
    </div>
      <p><span>Kalsubai</span> <br>
        Peak</p>
      <p>$2499</p>
      <div class="arrow_btn">
          <img src="../img/vecteezy_right-arrow-icon_15337678.png" alt="right_arrow">
          </div>
    </div>


    <div class="pcard2 cardstyle">
      <div class="rating">
        <img src="../img/star.png" alt="star">
        <p>4.9</p>
      </div>
      <p><span>Ajanta</span><br>
        Caves</h4>
        <p>$2499</p>
        <div class="arrow_btn">
          <img src="../img/vecteezy_right-arrow-icon_15337678.png" alt="right_arrow">
          </div>
    </div>


    <div class="pcard3 cardstyle">
      <div class="rating">
        <img src="../img/star.png" alt="star">
        <p>4.9</p>
      </div>
      <p><span>Lonawala</span><br>
        Hill</h4>
        <p>$2499</p>
        <div class="arrow_btn">
          <img src="../img/vecteezy_right-arrow-icon_15337678.png" alt="right_arrow">
          </div>
      </div>
    </div>

   <div class="row2">
    <div class="pcard4 cardstyle">
      <div class="rating">
        <img src="../img/star.png" alt="star">
        <p>4.9</p>
      </div>
      <p><span>Alibag</span><br>
        Beach</h4>
        <p>$2499</p>
        <div class="arrow_btn">
          <img src="../img/vecteezy_right-arrow-icon_15337678.png" alt="right_arrow">
          </div>
    </div>

    <div class="pcard5 cardstyle">
      <div class="rating">
        <img src="../img/star.png" alt="star">
        <p>4.9</p>
      </div>
      <p><span>Mumbai</span><br>
        Places</h4>
        <p>$2499</p>
        <div class="arrow_btn">
          <img src="../img/vecteezy_right-arrow-icon_15337678.png" alt="right_arrow">
        </div>
    </div> 

    <div class="pcard5 cardstyle">
      <div class="rating">
        <img src="../img/star.png" alt="star">
        <p>4.9</p>
      </div>
      <p><span>Mumbai</span><br>
        Places</h4>
        <p>$2499</p>
        <div class="arrow_btn">
          <img src="../img/vecteezy_right-arrow-icon_15337678.png" alt="right_arrow">
        </div>
    </div> 
    
    
  </div>
  </div>
</section>





<!-- footer -->

<footer>
  <div class="container">
    <div class="frow">
      <div class="fcol1">
        <h2>Travel</h2>
        <div class="subheading sfcol1">
        <p>Travel you choose the <br> destination, we offer you the <br> experience.</p>
        <div class="icons">

            <img src="../img/facebook.png" alt="facebook">
            <img src="../img/instagram.png" alt="insta">
            <img src="../img/twitter.png" alt="twitter">
            <img src="../img/youtube.png" alt="youtube">
          </div>
      </div>
      </div>

      <div class="fcol2">
        <h2>About</h2>
        <div class="subheading">
          <a href="#">About Us</a>
          <a href="#">Features</a>
          <a href="#">New & Blog</a>
        </div>
      </div>

      <div class="fcol3">
        <h2>Company</h2>
        <div class="subheading">
          <a href="#">Team</a>
          <a href="#">Plan & Pricing</a>
          <a href="#">Become amember</a>
        </div>
      </div>

      <div class="fcol4">
        <h2>Support</h2>
        <div class="subheading">
          <a href="#">FAQs</a>
          <a href="#">Support Center</a>
          <a href="#">Contact Us</a>
        </div>
        
      </div>

    </div>
    <div class="last">
      <div class="lastline">
        <!-- <h2>Travel.in</h2> -->
        <br />
        <p>© 2023<a href="#">Travel.in.</a> All Rights
          Reserved.</p>
          <a href="#">Terms & Agreements</a><br />
          <a href="#">Privacy Policy</a> <br />
      </div>
    </div>
  </div>

  </footer>
</body>
</html>